.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
}

body {
  margin: 0;
  padding: 0;
}


.container {
  margin-top: 0;
}


.filter-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.filter-container label {
  margin-right: 10px;
}

.filter-container input {
  width: 60px;
  height: 25px;
  text-align: center;
}

.titulo {
  margin-top: 0;
  margin-left: 20px;
}

.tit {
  margin-top: 0;
  color: white;
  background-color: #323030;
  text-align: start;
  height: 4rem;
}

.movie-item {
  width: calc(90% / 6 - 1rem);
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.movie-item img {
  width: 10rem;
  height: 15rem;
  margin: 1rem;
}

.movie-item h2 {
  height: 10%;
  margin-top: 0;
}